.image-slider{
	overflow: hidden;
}
.image-slider .image-slide{
	height: 400px;

	background-position: center;
	background-size: cover;
}
.image-slider .slick-prev, .image-slider .slick-next{
	z-index: 999;

	transition: all.3s ease-in-out;
}
.image-slider:hover .slick-prev{
	left: 25px;
}
.image-slider:hover .slick-next{
	right: 25px;
}
.image-slider .slick-prev:before, .image-slider .slick-next:before{
	color: #304FFE;
}

.tabs-block{
	// margin: 30px 0;
	background: #0D47A1;
}
.tabs-navigation{
	background: #0D47A1;
}
.tabs-navigation ul{
	margin: 0;
	padding: 0;

	font-size: 0;
}
.tabs-navigation li{
	display: inline-block;
}
.tabs-navigation li a{
	display: inline-block;

	padding: 10px 15px;

	text-decoration: none;

	color: rgba(255,255,255,.87);

	font-size: 18px;
}
.tabs-navigation li.active a, .tabs-navigation li a:hover{
	color: #0D47A1;
	background: rgba(255,255,255,.87);
}
.tabs-content{
	background: rgba(255,255,255,.87);
}
.tabs-content .tab-content{
	display: none;

	padding: 10px;
}
.tabs-content .tab-content.active{
	display: block;
}
.tabs-prev, .tabs-next{
	margin: 5px;
	padding: 5px 10px;

	cursor: pointer;

	color: #0D47A1;
	border: none;
	background: rgba(255,255,255,.87);

	font-family: 'open_sansbold';
}
.masonry-gutter{
	width: .5%;
}
.masonry-sizer, .masonry{
	width: 49.8%;
}
.masonry{
	margin-bottom: 0%;
}
.masonry.masonry-big{
	width: 100%;
}
.masonry img{
	width: 100%;
}

@media screen and (min-width: 1000px){
	.masonry-sizer, .masonry{
		width: 33.15%;
	}
	.masonry-gutter{
		width: .33%;
	}
}

@media screen and (max-width: 500px){
	.masonry-sizer, .masonry{
		width: 100%;
	}
	.masonry-gutter{
		width: 0;
	}
}

#map{
	height: 300px;
}

.map-section{
	margin: 30px auto;
}

.map-title{
	padding: 5px;

	text-align: center;

	color: #fff;
	background: #0d47a1;

	font-size: 32px;
}

.map-title h3{
	opacity: .87;

	font-family: 'Open Sans bold', sans-serif;
}

.location-form{
	display: none;

	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.showMyLocation{
	margin: 0 auto;
	margin-top: 15px;
	padding: 5px;

	text-align: center;

	color: #fff ;
	border: none;
	outline: none;
	background: #0d47a1;
}

.location-form form label,
.location-form form input,
.location-form form select{
	display: inline-block;

	width: 100%;
	padding: 5px 10px;

	font-family: 'Open Sans bold', sans-serif;
}

.location-form form input,
.location-form form select{
	padding: 5px;
}

#map-btn{
	margin: 0 auto;
	padding: 5px;

	text-align: center;

	color: #fff ;
	border: none;
	outline: none;
	background: #0d47a1;
}

.map-form-field.error{
	background: red;
}
